*{
    font-family: 'Comfortaa', cursive;
}
.cardHolder{
    display:grid;
    grid-template-columns: repeat(4,290px);
    justify-content: space-around;
    
    
}
.homeContainer{
    background-color:#d5d5d5;
}

@media(max-width:1440px){
    .cardHolder{
       
        grid-template-columns: repeat(3,290px);
        
        
    }
}

@media(max-width:1080px){
    .cardHolder{
       
        grid-template-columns: repeat(2,290px);
        
        
    }

    @media(max-width:720px){
        .cardHolder{
           
            grid-template-columns: repeat(1,290px);
            
            
        }
    }
}
*{
    margin:0;
}


