.header-container{
    font-family: 'Comfortaa', cursive;
    position: relative;
    height: 350px;
    overflow: hidden;
    background:url(../../Photo/background.png) no-repeat center;
    background-size: cover;
    opacity: 0.7;
}
.title{
  margin-top:150px;
 text-align: center;
    font-size: 30px;
  letter-spacing:2px;
  color:black;
  ;
  padding:5px;
}
.header{
  width:100%;
  box-sizing: border-box;
  background-color: #fff;
  overflow: hidden;
}
.navbar{
  width:100%;
  display:flex;
  align-items:center;
  height: 80px;

}
.logo{
  width: 150px;
  cursor: pointer;
  margin: 30px 30px;
}
.menu-icon{
  width: 25px;
  cursor: pointer;
  display: none;
  margin: 30px 30px;
}

nav{
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display:inline-block;
  margin-right: 30px;
}

nav ul li a{
  font-size: 14px;
  color: #000;
  text-decoration: none;
}
nav ul li a:hover{
  
  color: #17a2b8;

}

@media(max-width:900px){
  .title{
  font-size: 12px;
}

nav ul{
  width: 100%;
  background-color: #fff;
  position: absolute;
  top:75px;
  right: 0;
  z-index: 2;
}
nav ul li {
  /* display: block; */
  margin-top: 10px;
  margin-bottom:10px;

}
nav ul li a{
  color: #000;
}
.menu-icon{
  display: block;
}
}