.header-container{
    font-family: 'Comfortaa', cursive;
    position: relative;
    height: 350px;
    overflow: hidden;
    background:url(../../Photo/background.png) no-repeat center;
    background-size: cover;
    opacity: 0.7;
}
.title{
  margin-top:150px;
 text-align: center;
    font-size: 30px;
  letter-spacing:2px;
  color:black;
  ;
  padding:5px;
}



@media(max-width:900px){
  .title{
  font-size: 12px;
}
}